.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #ffffff;
}
button{
  cursor: pointer;
  margin-left: 3px;
  margin-bottom: 10px;
  padding: .4rem 2rem;
  font-size: large;

}
.inp_headen{
  width: 16rem;
}
.inp_sys{
  width: 17rem;
}

.app{
  display: grid;
  justify-content: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.input-class{
  display: grid;
  justify-content:space-evenly;
  padding: 6px;
}
.inp_headen{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1px;
}
label{
  font-size: 1rem;
}
input{
  padding: 5px;
}

.err:focus{
  border: #fb6161 solid 4px;

}